 .App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  } 
  .question-cart{
  background-color: green;
  padding: 40px;
 border-radius: 10px;
  color: white;
  height:auto;
 
  }
  ul{
  list-style:upper-alpha;

  }
  .option{
  background-color: rgb(31, 79, 31);
  border: 3px solid white;
  /* border-radius: 10px; */
  margin-top: 10px;
  margin-right:13px ;
  padding: 11px;
  cursor: pointer;
  
  }
  .option:hover{
  background-color: rgba(126, 133, 133, 0.463);
  cursor: pointer;
  }
  .question-text{
  color: rgb(203, 227, 161);
  font-size: 18px;
  
  }
  .final-results{
  
    background-color: green;
    padding: 26px;
   border-radius: 5px;
    color: white;
    height:auto;
    margin: 0 auto;
    margin-top: 10px;
    width: 320px;height: auto 
  }
  .navbar-toggler:focus{
  box-shadow: none;
  border: none;
  outline: none;
  
  }
  .navbar-toggler{
 background-color: rgba(0, 128, 0, 0.991);
  /* border: 1px solid rgb(203, 203, 11); */
  }
  .navbar{
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.107);
  z-index: 10;
  }
  
   